<%- appcache("#{assets_todos_path}.appcache") %>

<h1>Stuff To Do</h1>
<div id="todos">
  <div class="empty">Loading items...</div>

  <div id="incomplete"></div>
  <div id="complete"></div>
</div>

<%- content_for(:javascript) do %>
  <script type="text/javascript">
    var createEditor = function(data) {
      var editor = new TodoEditorView(data);
      editor.render();
    };

    $(function() {
      $.ajax({
        url: '<%= list_todos_path %>.json',
        type: 'post',
        success: createEditor
      });
    });
  </script>
<%- end %>
